.head{
    position: relative;
    
}
.right{
    position: absolute;
    right: 20px;
    top: 8px;
}
.blueline{
    position: absolute;
    bottom: 50px;
    top: -10px;
    right: 0px;
    left: 0px;
    width: 200px;
    height: 30px;
    background-color: #0000FF;
    margin-top: 10px;
}
.icon{
    position: absolute;
    bottom: 50px;
    top: -10px;
    width: 200px;
    height: 30px;
    background-color: transparent;
    margin-top: 10px;
}